@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
  font-family: 'Press Start 2P', cursive;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #dedfcb;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app{
  width: 60vw;
  margin: auto;
}

.input-container{
  width: 100%;
  border: 3px solid black;
  display: flex;  
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 5px 5px 5px #3a5169;
}

.input-container input{
  border:none;
  width: 80%;
  height: 50px;
  text-indent: 4px;
}

.input-container input:focus{
  outline:none;
}

.btn-add{
  width: 20rem;
  height: 53px;
  border: none;
  cursor: pointer;
  background-color: #4f6e8f;
  color:#f2f2f2
}

.btn-add:hover{
  background-color:#278eb7;
}

.btn-add:focus{
  outline: none;
}

.tasks-container{
  width: 100%;
  margin-top: 100px;
}


.task{
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 90% 10%;
  padding:  0 1rem ;
  align-items: center;
  border: 3px solid black;
  margin-bottom: 15px;
  background-image: linear-gradient(#278eb7,#3a5169);
  box-shadow: 5px 5px 5px #3a5169;
}


.task p{
  color: #f2f2f2;
  padding-left: 1rem;
  text-align: left;
  line-height: 20px;
  word-break: break-word;
}

.task button{
  width: 30px;
  height: 30px;
  border: 3px solid black;
  border-radius: 10px;
  background-color:#e23f3f;
  cursor: pointer;
}

.task button:hover{
  background-color:#eb8080;
}

.task button:focus{
  outline: none;
}
